<!DOCTYPE html>
<html>
   <head>
      <title>VidMuster!</title>
      <link rel="stylesheet" type="text/css" href="/css/styles.css">
   </head>
   <body>
      <p>Nothing here yet! Coming Soon!</p>
   </body>
</html>